$header-name-font:'cube';
$heading-font:'Akira Expanded Demo';
$text-font:Arial;


$background-color:#152D35;
$primary-color:#FFB344;
$secondary-color:white;

$heading-font-size:.35rem;
$text-font-size:1rem;



@font-face{
    font-family: "cube";
    src: url("../fonts/cube.ttf");

}

@font-face{
    font-family: "Akira Expanded Demo";
    src: url("../fonts/Akira Expanded Demo.otf");

}

body {
    padding: 0;
    margin: 0;
    background-color: $background-color;

    
  }

  a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
  }

  p{
    color: $secondary-color;
    font-size: $text-font-size;
    font-family: $text-font;
  }

  h2{
    color: $primary-color;
    font-size: 1rem;
    font-family: $heading-font;
  }

  .arrow-container{
    top:45vh;
    position:absolute;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    span{
      transform: rotate(90deg);
      color:white;
      font-size: 2.5rem;
      opacity: 0;
      
    }
  }

  

  header{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    position:relative;

      
  }
  
  svg.intro {
    max-width: 800px;
    width:1000px;
    
    

    .text { 
      display: none;
    }
    &.go {
      .text {
        font-family: $header-name-font;
        font-size: .5em;
        display: block;
      }
      .text-stroke {
        fill: none;
        stroke: $primary-color;
        stroke-width: 6px;
        stroke-dashoffset: -900;
        stroke-dasharray: 900;
        stroke-linecap: butt;
        stroke-linejoin: round;
        animation: dash 5s ease-in-out forwards;
      }
      .text-stroke:nth-child(2) {
        animation-delay: .3s;
      }
      .text-stroke:nth-child(3) {
        animation-delay: .9s;
      }
      .text-stroke-2 {
        stroke: $primary-color;
        animation-delay: 1.2s;
      }
      .text-stroke:nth-child(5) {
        animation-delay: 1.5s;
      }
      .text-stroke:nth-child(6) {
        animation-delay: 1.8s;
      }
    }
  }
  
  @keyframes dash {
    100% {
      stroke-dashoffset: 0;
    }
  }
  
  
  #position-font-smaller{
    font-size:$heading-font-size;
    font-family: 'Akira Expanded Demo';
    
    
  }

  .globe-gif{
    pointer-events: none;
  }

  .bio-blueprint-background{
    position: absolute;
    width:43%;
    max-width: 600px; 
    overflow: hidden;
    height: 100%;
    
  }

  .project-blueprint-background{
    
    margin-left:2em;
    margin-right:2em;
    position: absolute;
    top:0;
    
    
  }

  .blueprint-background-img{
    width:100%;
    filter: invert(100%);
    
  }

  .dashed-border{
    border:dashed $secondary-color;
    border-width: 2px;
    background-color: $background-color;
    z-index: 1;
  }

  .bio{
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 1em;
    #{&}-container{
      width:43%;
      max-width: 600px; 
      display: flex;
      justify-content: center;

      p{
        width:93%;
      }
    }
  }

  
  .flex-container{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .bio-arrow-container{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    span{
      transform: rotate(90deg);
      color:white;
      font-size: 2.5rem;
      opacity: 0;
      
    }
  }

  .projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3em;
    padding-left: 2em;
    padding-right: 2em;

    @media screen and (min-width: 1200px) {
      flex-direction: row;
      justify-content: space-evenly;
    }
    
    
    #{&}-container{
      position: relative;
      
    }

    #{&}-project{
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      margin-left:2em;
      margin-right:2em;
      margin-bottom:8em;
      min-width:100px;
      max-width:600px;
      transition:border .5s;
      padding-top:1em;

      @media screen and (min-width: 1200px) {
        max-width:400px;
        height:500px;
      }

      h2{
        text-align: center;
        font-size: 1.3em;
        width:93%;
        
      }
      p{
        width:93%;
      }
      
      img{
        width:150%;
        max-width: 600px;
      }

      &:hover{
        cursor: pointer;
        border:dashed white 6px;
      }

      

      
    }
  }