@font-face {
  font-family: "cube";
  src: url("../fonts/cube.ttf");
}
@font-face {
  font-family: "Akira Expanded Demo";
  src: url("../fonts/Akira Expanded Demo.otf");
}
@font-face {
  font-family: "Gravitica Mono Light Demo";
  src: url("../fonts/Gravitica Mono Light Demo.otf");
}
html {
  scroll-behavior: smooth;
}

.resize-animation-stopper-utility * {
  transition: none !important;
  animation: none !important;
}

body {
  padding: 0;
  margin: 0;
  background-color: #152D35;
  overflow-x: hidden;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

nav {
  padding: 0 1.5em 0;
  position: relative;
  display: flex;
  justify-content: flex-end;
}
nav .nav-list {
  position: relative;
}
nav .nav-list ul {
  display: flex;
}
@media screen and (max-width: 600px) {
  nav .nav-list ul {
    padding-top: 2em;
    position: absolute;
    border-radius: 20px;
    right: 32px;
    top: 43px;
    display: flex;
    flex-direction: column;
    height: 56vh;
    width: 150px;
    background-color: #374044;
    z-index: 10;
    transform: scale(0);
    opacity: 0;
    transform-origin: top right;
    transition: all 0.3s ease-in;
  }
}
nav .nav-list ul .nav-item {
  margin-bottom: 2.5em;
  position: relative;
  font-family: "Gravitica Mono Light Demo";
  font-size: 1.2em;
  color: white;
}
@media screen and (min-width: 600px) {
  nav .nav-list ul .nav-item {
    margin-bottom: 0;
    margin-left: 2em;
  }
}
nav .nav-list ul .nav-item .line-through {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 45%;
  width: 0;
  border-top: 0.3em solid #FFB344;
  transition: width 0.5s ease-in;
}
nav .nav-list ul .nav-item:hover {
  color: #FFB344;
}
nav .nav-list ul .nav-item:hover .line-through {
  width: 150%;
}
@media screen and (min-width: 600px) {
  nav .nav-list ul .nav-item:hover .line-through {
    width: 100%;
  }
}
nav .nav-list ul.open {
  transform: scale(1);
  opacity: 1;
}
nav .hamburger {
  display: none;
}
@media screen and (max-width: 600px) {
  nav .hamburger {
    height: 50px;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
}
nav .hamburger .bar-top {
  background-color: white;
  width: 50%;
  height: 4px;
  border-radius: 5px;
  transition: all 0.2s linear;
}
nav .hamburger .bar-top.open {
  transform: translateY(5px) translateX(2px) rotate(45deg);
  position: relative;
}
nav .hamburger .bar-mid {
  background-color: white;
  width: 100%;
  height: 4px;
  border-radius: 5px;
  transition: all 0.2s linear;
}
nav .hamburger .bar-mid.open {
  transform: rotate(-45deg);
}
nav .hamburger .bar-bottom-container {
  width: 100%;
  height: 4px;
  display: flex;
  justify-content: flex-end;
}
nav .hamburger .bar-bottom-container .bar-bottom {
  background-color: white;
  width: 50%;
  height: 4px;
  border-radius: 5px;
  transition: all 0.2s linear;
}
nav .hamburger .bar-bottom-container .bar-bottom.open {
  transform: translateY(-6px) translateX(-2px) rotate(45deg);
}

p {
  color: white;
  font-size: 1rem;
  font-family: "Gravitica Mono Light Demo";
}

h2 {
  color: #FFB344;
  font-size: 1rem;
  font-family: "Akira Expanded Demo";
}

.arrow-container {
  top: 45vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.arrow-container span {
  transform: rotate(90deg);
  color: white;
  font-size: 2.5rem;
  opacity: 0;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  position: relative;
}

svg.intro .text {
  display: none;
}
svg.intro.go .text {
  font-family: "cube";
  font-size: 0.5em;
  display: block;
}
svg.intro.go .text-stroke {
  fill: none;
  stroke: #FFB344;
  stroke-width: 6px;
  stroke-dashoffset: -900;
  stroke-dasharray: 900;
  stroke-linecap: butt;
  stroke-linejoin: round;
  animation: dash 5s ease-in-out forwards;
}
svg.intro.go .text-stroke:nth-child(2) {
  animation-delay: 0.3s;
}
svg.intro.go .text-stroke:nth-child(3) {
  animation-delay: 0.9s;
}
svg.intro.go .text-stroke-2 {
  stroke: #FFB344;
  animation-delay: 1.2s;
}
svg.intro.go .text-stroke:nth-child(5) {
  animation-delay: 1.5s;
}
svg.intro.go .text-stroke:nth-child(6) {
  animation-delay: 1.8s;
}

@keyframes dash {
  100% {
    stroke-dashoffset: 0;
  }
}
#position-font-smaller {
  font-size: 0.35rem;
  font-family: "Akira Expanded Demo";
}

.svg-container {
  position: relative;
  width: 40%;
}
@media screen and (max-width: 1650px) {
  .svg-container {
    width: 45%;
  }
}
@media screen and (max-width: 1500px) {
  .svg-container {
    width: 50%;
  }
}
@media screen and (max-width: 1400px) {
  .svg-container {
    width: 55%;
  }
}
@media screen and (max-width: 1250px) {
  .svg-container {
    width: 60%;
  }
}
@media screen and (max-width: 1100px) {
  .svg-container {
    width: 65%;
  }
}
@media screen and (max-width: 950px) {
  .svg-container {
    width: 75%;
  }
}
@media screen and (max-width: 850px) {
  .svg-container {
    width: 85%;
  }
}
@media screen and (max-width: 700px) {
  .svg-container {
    width: 150%;
  }
}
@media screen and (max-width: 400px) {
  .svg-container {
    width: 200%;
    position: relative;
    bottom: 6em;
  }
}

.globe-gif {
  pointer-events: none;
  z-index: 11;
}
@media screen and (max-width: 400px) {
  .globe-gif {
    display: none;
  }
}

.bio-blueprint-background {
  position: absolute;
  width: 43%;
  max-width: 600px;
  overflow: hidden;
  height: 100%;
}

.project-blueprint-background {
  margin-left: 2em;
  margin-right: 2em;
  position: absolute;
  top: 0;
}

.blueprint-background-img {
  width: 100%;
  filter: invert(100%);
}

.dashed-border {
  border: dashed white;
  border-width: 2px;
  background-color: #152D35;
  z-index: 1;
}

.bio {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 1em;
}
.bio .bio-container {
  width: 43%;
  max-width: 600px;
  display: flex;
  justify-content: center;
}
.bio .bio-container p {
  width: 93%;
}

.flex-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.bio-arrows {
  display: flex;
  flex-direction: column;
}
.bio-arrows .bio-arrows-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .bio-arrows .bio-arrows-top .bio-top-arrow {
    display: none;
  }
}
.bio-arrows .bio-arrows-top span {
  transform: rotate(90deg);
  color: white;
  font-size: 2.5rem;
  opacity: 0;
}
.bio-arrows .bio-arrows-mid {
  display: none;
  width: 70vw;
  justify-content: space-between;
}
@media screen and (min-width: 1200px) {
  .bio-arrows .bio-arrows-mid {
    display: flex;
  }
}
.bio-arrows .bio-arrows-mid span {
  color: white;
  font-size: 2.5rem;
  opacity: 0;
}
.bio-arrows .slight-move-right {
  position: relative;
  left: 0.55em;
}
.bio-arrows .bio-arrows-bottom {
  display: none;
  justify-content: space-between;
}
@media screen and (min-width: 1200px) {
  .bio-arrows .bio-arrows-bottom {
    display: flex;
  }
}
.bio-arrows .bio-arrows-bottom .bio-arrows-bottom-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bio-arrows .bio-arrows-bottom .bio-arrows-bottom-container span {
  transform: rotate(90deg);
  color: white;
  font-size: 2.5rem;
  opacity: 0;
}

.arial-utility {
  font-family: Arial, Helvetica, sans-serif;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3em;
  padding-left: 2em;
  padding-right: 2em;
}
@media screen and (min-width: 1200px) {
  .projects {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
.projects .projects-container {
  position: relative;
}
.projects .projects-project {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 8em;
  min-width: 100px;
  max-width: 600px;
  transition: border 0.5s;
  padding-top: 1em;
}
@media screen and (min-width: 1200px) {
  .projects .projects-project {
    max-width: 400px;
    height: 500px;
  }
}
.projects .projects-project h2 {
  text-align: center;
  font-size: 1.3em;
  width: 93%;
}
.projects .projects-project p {
  width: 93%;
}
.projects .projects-project img {
  width: 150%;
  max-width: 600px;
}
.projects .projects-project:hover {
  cursor: pointer;
  border: dashed white 6px;
}

/*# sourceMappingURL=style.css.map */
