$header-name-font:'cube';
$heading-font:'Akira Expanded Demo';
$text-font:'Gravitica Mono Light Demo';


$background-color:#152D35;
$primary-color:#FFB344;
$secondary-color:#FFF;
$tertiary-color:#374044;

$heading-font-size:.35rem;
$text-font-size:1rem;


@font-face{
    font-family: "cube";
    src: url("../fonts/cube.ttf");

}

@font-face{
    font-family: "Akira Expanded Demo";
    src: url("../fonts/Akira Expanded Demo.otf");

}

@font-face{
  font-family: "Gravitica Mono Light Demo";
  src: url("../fonts/Gravitica Mono Light Demo.otf");

}
html {
  scroll-behavior: smooth;
}

.resize-animation-stopper-utility * {
  transition: none !important;
  animation: none !important;
}

body {
    padding: 0;
    margin: 0;
    background-color: $background-color;
    overflow-x: hidden;
    
  }

  a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
  }
  

  textarea, input { 
    outline: none; 
    font-family: Arial, Helvetica, sans-serif;
  }


  button, input[type="submit"], input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }


 


  nav{
    padding:0 1.5em 0;
    position: relative;
    display: flex;
    justify-content: flex-end;
    opacity:0;

  

    .nav-list{
      position: relative;
      ul{
        display: flex;

        @media screen and (max-width: 600px) {
          
          padding-top: 2em;
          position: absolute;
          border-radius: 20px;
          right:32px;
          top:43px;
          display: flex;
          flex-direction: column;
          height: 56vh;
          width:150px;
          background-color: $tertiary-color;
          z-index: 10;
          transform: scale(0);
          opacity: 0;
          transform-origin: top right;
          transition:all 0.3s ease-in;
        }
        
        .nav-item{
          margin-bottom: 2.5em;
          position: relative;
          font-family: $text-font;
          font-size: 1.2em;
          color: $secondary-color;
          @media screen and (min-width: 600px) {
            margin-bottom: 0;
            margin-left: 2em;
          }
          

          .line-through{
            display:inline-block;
            position:absolute;
            left:0;
            top:45%;
            width:0;
            border-top:.3em solid $primary-color; 
            transition: width 0.5s ease-in;
          }

          &:hover{
            color: $primary-color;
            .line-through{
              width:150%;
              @media screen and (min-width: 600px) {
                width:100%;
              }
            }
          }

          
        }
      }

      ul.open{
        transform: scale(1);
        opacity: 1;
      }
      
    }

    .hamburger{
      display: none;
      @media screen and (max-width: 600px) {
        height:50px;
        width:40px;
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit; 
      }   


      .bar-top{
        background-color: $secondary-color;
        width:50%;
        height:4px;
        border-radius: 5px;
        transition: all 0.2s linear;
      }

      .bar-top.open{
        transform: translateY(5px) translateX(2px) rotate(45deg);
        position:relative;
       
      }

      .bar-mid{
        background-color: $secondary-color;
        width:100%;
        height:4px;
        border-radius: 5px;
        transition: all 0.2s linear;
      }

      .bar-mid.open{
        transform: rotate(-45deg);
      }

      .bar-bottom-container{
        width:100%;
        height:4px;
        display: flex;
        justify-content: flex-end;

        .bar-bottom{
          background-color: $secondary-color;
          width:50%;
          height:4px;
          border-radius: 5px;
          transition: all 0.2s linear;
        }

        .bar-bottom.open{
          transform: translateY(-6px) translateX(-2px) rotate(45deg);
        }
      }
      

    }

  }

  

  p{
    color: $secondary-color;
    font-size: $text-font-size;
    font-family: $text-font;
  }

  h2{
    color: $primary-color;
    font-size: 1rem;
    font-family: $heading-font;
  }

  .arrow-container{
    top:45vh;
    position:absolute;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    span{
      transform: rotate(90deg);
      color:white;
      font-size: 2.5rem;
      opacity: 0;
      
    }
  }

  

  header{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    position:relative;

      
  }

  




  .contact{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;

    &-form{
      background-color: $background-color;
      width:50%;
      text-align: center;
      position: fixed;
      /* Centering */
      top:50%;
      left:50%;
      transform: translate(-50%,-50%)scale(0);
      transition: 200ms ease-in-out;
      z-index:2000;
      padding:20px;
      border: $secondary-color 3px solid;
      display: flex;
      flex-direction: column;

      &.active{
        transform: translate(-50%,-50%)scale(1);
      }

      .confirmation-check{
        position: absolute;
        width:40%;
        z-index: 3000;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%)scale(0);
        transition: 200ms ease-in-out;
        &.active{
          transform: translate(-50%,-50%)scale(1);
        }
      }

      form{
        display: flex;
        flex-direction: column;

        .form-item{
          margin-bottom: 1em;
          border:$secondary-color 3px dashed; 
          background-color: $background-color;
          border-top:none ;
          border-right:none ;
          border-left:none ;
          color: $secondary-color;
        }

        .contact-form-footer{
          display: flex;
          justify-content: space-between;
          align-items: center;

          button{
            font-family: $text-font;
            font-size: $text-font-size;
            color: $secondary-color;
            border: solid $secondary-color 3px;
            width:60px;
            text-align: center;
            &:hover{
              border: solid $primary-color 3px;
              color: $primary-color;
            }
          }
  
          .contact-error-message{
            font-family: $text-font;
            font-size: 14px;
            color: $secondary-color;
          }
        }
        
      }
      
    }

    .contact-form-header{
      display: flex;
      justify-content: space-between;
      align-items: center;

      h1{
        color:$secondary-color;
        font-family: $heading-font;
      }

      .close-button{
        opacity:0.6;
        cursor: pointer;
        
        
        img{
          width:1.5em;
        }
        
        &:hover{
          opacity: 1;
        }
      }

    }    
    

    .overlay{
      position: fixed;
      top:0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(0, 0, 0, .5);
      opacity:0;
      transition: 200ms ease-in-out;
      /* Click events can't be captured
      when overlay not active. You need this
      to click buttons when overlay not active*/
      pointer-events: none;
      z-index: 1999;
  
    }
  
    .overlay.active{
      opacity: 1;
      /* Click events can be captured
      when overlay active. You need this shit 
      to click buttons when overlay not active* */
      pointer-events: all;
    }

}
  


  
  svg.intro {

    
    

    .text { 
      display: none;
    }
    &.go {
      .text {
        font-family: $header-name-font;
        font-size: .5em;
        display: block;
      }
      .text-stroke {
        fill: none;
        stroke: $primary-color;
        stroke-width: 6px;
        stroke-dashoffset: -900;
        stroke-dasharray: 900;
        stroke-linecap: butt;
        stroke-linejoin: round;
        animation: dash 5s ease-in-out forwards;
      }
      .text-stroke:nth-child(2) {
        animation-delay: .3s;
      }
      .text-stroke:nth-child(3) {
        animation-delay: .9s;
      }
      .text-stroke-2 {
        stroke: $primary-color;
        animation-delay: 1.2s;
      }
      .text-stroke:nth-child(5) {
        animation-delay: 1.5s;
      }
      .text-stroke:nth-child(6) {
        animation-delay: 1.8s;
      }
    }
  }
  
  @keyframes dash {
    100% {
      stroke-dashoffset: 0;
    }
  }
  
  
  #position-font-smaller{
    font-size:$heading-font-size;
    font-family: 'Akira Expanded Demo';
    
    
  }
  .svg-container{
	position: relative;
	width: 40%;
	@media screen and (max-width: 1650px) {
    width:45%;
  }
  @media screen and (max-width: 1500px) {
    width:50%;
  }
  @media screen and (max-width: 1400px) {
    width:55%;
  }
  @media screen and (max-width: 1250px) {
    width:60%;
  }
  @media screen and (max-width: 1100px) {
    width:65%;
  }
  @media screen and (max-width: 950px) {
    width:75%;
  }
  @media screen and (max-width: 850px) {
    width:85%;
  }
  @media screen and (max-width: 700px) {
    width:150%;
  }
  @media screen and (max-width: 400px) {
    width:200%;
    position:relative;
    bottom:6em;
  }

  }


  .globe-gif{
    pointer-events: none;
    z-index: 11;
    @media screen and (max-width: 400px) {
      display:none;
    }
    
  }

  .bio-blueprint-background{
    position: absolute;
    width:43%;
    max-width: 600px; 
    overflow: hidden;
    height: 100%;
    
  }

  .project-blueprint-background{
    
    margin-left:2em;
    margin-right:2em;
    position: absolute;
    top:0;
    
    
  }

  .blueprint-background-img{
    width:100%;
    filter: invert(100%);
    
  }

  .dashed-border{
    border:dashed $secondary-color;
    border-width: 2px;
    background-color: $background-color;
    z-index: 1;
  }

  .bio{
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 1em;
    #{&}-container{
      width:43%;
      max-width: 600px; 
      display: flex;
      justify-content: center;

      p{
        width:93%;
      }
    }
  }

  
  .flex-container{
    display: flex;
    align-items: center;
    flex-direction: column;
  }


  .bio-arrows{
    display:flex;
    flex-direction: column;
    
    #{&}-top{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .bio-top-arrow{
        @media screen and (min-width: 1200px) {
          display:none;
        }
        
      }

      span{
        transform: rotate(90deg);
        color:white;
        font-size: 2.5rem;
        opacity: 0;
      }
    }

    #{&}-mid{
      display: none;
      @media screen and (min-width: 1200px) {
        display:flex;
      }
      width:70vw;
      justify-content: space-between;

      span{
        color:white;
        font-size: 2.5rem;
        opacity: 0;
      }
    }

    .slight-move-right{
      position: relative;
      left:.55em;
    }

    #{&}-bottom{
      display: none;
      @media screen and (min-width: 1200px) {
        display:flex;
      }
      justify-content: space-between;
      

      .bio-arrows-bottom-container{
        display: flex;
        flex-direction: column;
        align-items: center;
      
        span{
          transform: rotate(90deg);
          color:white;
          font-size: 2.5rem;
          opacity: 0;
        }

      }

    }

    

    
  }

  .arial-utility{
    font-family: Arial, Helvetica, sans-serif;
  }


  .projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3em;
    padding-left: 2em;
    padding-right: 2em;

    @media screen and (min-width: 1200px) {
      flex-direction: row;
      justify-content: space-evenly;
    }
    
    
    #{&}-container{
      position: relative;
      
    }

    #{&}-project{
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      margin-left:2em;
      margin-right:2em;
      margin-bottom:8em;
      min-width:100px;
      max-width:600px;
      transition:border .5s;
      padding-top:1em;

      @media screen and (min-width: 1200px) {
        max-width:400px;
        height:500px;
      }

      h2{
        text-align: center;
        font-size: 1.3em;
        width:93%;
        
      }
      p{
        width:93%;
      }
      
      img{
        width:150%;
        max-width: 600px;
      }

      &:hover{
        cursor: pointer;
        border:dashed white 6px;
      }

      

      
    }
  }